body {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

.title {
  font-family: 'Open Sans Regular';
  font-size: 32px;
}

h1 {
  font-family: 'Open Sans Regular';
  font-size: 50px;
  color: #A0222E;
  font-weight: bold;
}

.accent {
  color: #A0222E;
  font-weight: bold;
}

a {
  color: #C1C6D9;
}

.nav {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;   
}

.nav:hover {
  color: #C2C6D9;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;
}